.footer_div{
    position : fixed ;
    margin-bottom : 0px;
    text-align : center;
    bottom: 0;
    background-color: aliceblue;
    color: rgb(10, 146, 132);
}

body{
 background-color : Turquoise;
 font-family: 'Playfair Display', serif;
}

.header_div{
    background-color: aliceblue;
    color: rgb(10, 146, 132);
    padding-top: 15;
    padding-bottom: 20;
}